@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/DMSansRegular.ttf");
  font-family: "DM Sans";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/RalewayRomanBold.ttf");
  font-family: "Raleway";
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/RalewayRomanMedium.ttf");
  font-family: "Raleway";
  font-weight: 500;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/DMSansMedium.ttf");
  font-family: "DM Sans";
  font-weight: 500;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/DMSansBold.ttf");
  font-family: "DM Sans";
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/RalewayRomanSemiBold.ttf");
  font-family: "Raleway";
  font-weight: 600;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/LatoRegular.ttf");
  font-family: "Lato";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/RalewayRegular.ttf");
  font-family: "Raleway";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/RalewayRomanRegular.ttf");
  font-family: "Raleway";
  font-weight: 400;
}
